{% extends 'base.html'%}

{% block contenidos%}
    <h1>Datos en tiempo real</h1>
    <h3>{{temperatura}}</h3>
   {% if temperatura > 20%} 
   <h2 style="color: red;">La temperatura es muy alta</h2>
    
    {%endif%}
    <h3>{{humedad}}</h3>
    <h3>{{ph}}</h3> 
    <h3>{{presion}}</h3>
    <h3>{{maldad}}</h3>

<hr>
{% for numero in lista_numeros%}
{%if numero > 3%}
<p>{{numero}}</p>
{%for letra in lista_letras%}
<p style="color: grey;">{{letra}}</p>
{%endfor%}
{%endif%}
    {%endfor%}

    {%endblock%}
